.navbarContainer {
  position: fixed;
  top: 0;
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8em;
  background: white;
  z-index: 5;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem
}

.logo {
  width: 100%;
  height: 100%;
}

.linksMobile {
  width: 100%;
  position: absolute;
  /* border: 1px solid blue; */
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255, 0.8);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.linkMobile {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  /* border: 1px solid red; */
  padding: 0.3em 0;
  margin-bottom: 1em;
  color: #151371;
}

/* .links {
  border: 1px solid red;
} */

.link {
  /* border: 1px solid red; */
  margin-right: 2em;
  font-weight: 500;
  font-size: 1.2rem;
  color: #151371;
}

.linkMobile:hover,
.link:hover {
  border-bottom: 3px solid #FF00B8;
}

.link:active {
  border-bottom: 3px solid #151371;
}

.link:last-child{
  margin-right: 0;
}

.bars {
  display: none;
  font-size: 2em;
  cursor: pointer;
  color: #151371;
}

.bars > i {
  font-weight: lighter;
}

@media screen and (max-width: 768px){
  .navbarContainer{
    padding: 0 5em;
  }
}

@media screen and (max-width: 540px) {
  .navbarContainer{
    padding: 0 2em;
  }
  .linksMobile {
    display: flex;
    left: 0;
    top: 6em;
  }
  .links {
    display: none;
  }
  .bars {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .navbarContainer{
    padding: 0 1em;
  }
}